:root {
    --primaryColor : rgb(42, 46, 48) ;
    --secondColor : rgb(207, 131, 131) ;
    --lightmode : rgb(91, 215, 153) ;
    --darkmode  : rgb(255, 255, 255) ;
    --bgColor : rgb(181, 148, 0) ;
    --padding : 8% ;
}
@font-face {
    font-family: Calina;
    src: url(/Fonts/Calina.otf);
}
@font-face {
    font-family: Grashrock;
    src: url(/Fonts/Grashrock.otf);
}
@font-face {
    font-family: Vostela;
    src: url(/Fonts/VOSTELA.otf);
}
@font-face {
    font-family: waltograph;
    src: url(/Fonts/waltograph42.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

    font-family: Calina , sans-serif; ;
    font-size: 16px ;
    color: var(--lightmode);
}
.home {
    width: 100% ;
    height: 100vh ;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column ;
}

span {
    font-family: Calina , sans-serif;
    color: var(--darkmode);
}

h2{
    font-family: Calina , sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: grab ;

}

nav {
    padding : 2rem 5% 5% 5% ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin : 0.8rem ; 
    
}

nav ul li a {
    color: var(--lightmode);
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: var(--darkmode);
    transition: 0.4s ;
}
.subBtn { 
    color: var(--primaryColor);
    font-weight: 800 ;
    background-color: var(--lightmode);
    padding: 5px 7px ;
    border: solid 2px transparent;
    border-radius: 30px ;
}

.subBtn:hover {
    color: var(--lightmode);
    background-color: transparent;
    border: solid 2px var(--lightmode);
    transition: .3s;
}

.contain {
    flex-grow: 1;
    display: flex ;
    align-items: center ;
    justify-content: space-between;
    margin: 0rem 1rem ;
}
.container_txt {
    padding: 2%;
}
h4 {
    margin: 5px ;
}
h3 {
    margin: 5px 0px 20px 0px;
}
h2 {
    margin: 5px;
}
.cvBtn {
    color: var(--primaryColor);
    font-weight: 800 ;
    font-size: medium ;
    font-family: Vostela , Georgia, 'Times New Roman', Times, serif;
    background-color: var(--lightmode);
    padding: 5px 7px ;
    border: solid 2px transparent;
    border-radius: 30px ;
    text-decoration: none ;
}
.cvBtn:hover {
    color: var(--lightmode);
    background-color: transparent;
    border: solid 2px var(--lightmode);
    transition: .3s;
}
.social {
    margin-top: 15px;
}
.social a{
    padding-left: 5px;
}
.social img{
    filter: blur(0px);
}
.social img:hover{
    transform: scale(0.8);
    transition: 0.4s;
}

.container_img {
    position:relative ;
    width: 45% ;
    height: 90%;
    display: flex ;
    justify-content: center;
    align-self: flex-start;
    transition:  .5s ;
    
    
}
.container_img img {
    position: absolute;
    bottom: 0;
    height: 95%;
}
.container_img:hover {
    transform: scale(1.1);
}

.about {
    display: flex ;
    background-color: black;
    justify-content: space-around;

}
.about img{
    width: 40% ;
    padding: 8% ;
}
.about div{
    font-family: serif ;
    text-align: center ;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    width: 40% ;
    padding: 8% ;
    font-size: 2rem;
}
.about h4 {
    color: var(--primaryColor);
    text-shadow: var(--lightmode) 1px .5px 1px;
}

.service {
    background-color: var(--primaryColor);
    width: 100% ;
    height: 70vh;
}
.service h1 {
    text-align: center;
    padding : 5px;
}
.cards {
    display: flex ;
    font-family: serif ;
    justify-content: space-between;
    text-align: center ; 
    padding : 0 15px ;
}

.cards div {
    background-color: black;
    margin: 0.5rem ;
    border-radius: 30px ;
    padding : 2% ;
}
.cards div p {
    font-size: 1.5rem;
}
.cards div h5,i {
    font-size: 2rem ;
}